.element__image {
  width: 282px;
  height: 282px;
  grid-column: 1/3;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}

@media screen and (max-width: 310px) {
  .element__image {
    max-width: 282px;
    width: 100%;
  }
}