.footer {
  max-width: 880px;
  padding: 65px 0 60px;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .footer {
    max-width: 90%;
    padding: 55px 0 45px;
  }
}

@media screen and (max-width: 450px) {
  .footer  {
    max-width: 100%;
    padding: 45px 0px 35px;
    margin: 0;
  }
}